@import "app";
@import "index";

.movies-list {
  width: 90%;
  .movie-type-header {
    font-size: 40px;
    font-weight: 700;
  }
}
.movies-card {
  //width: 30%;
  height: 450px;
  border: 1px solid #bbb;
  margin: 30px;
  .movie-cover-image {
    height: 60%;
    background-color: #ddd;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .movie-info-area {
    padding: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 30%;
    .movie-title {
      display: flex;
      justify-content: space-between;
      .title {
        font-size: 30px;
        font-weight: 700;
      }
      .favorite-con {
        color: red;
      }
    }
    .rating {
      display: flex;
      justify-content: space-between;
      .star-icon {
        color: yellow;
      }
      .show-more-link {
        color: #61dafb;
        text-decoration: underline;
      }
    }
  }
}

.movie-details-view {
  border: 1px solid black;
  margin:3%;
  float: left;
  width: 94%;

  .movie-image{
    //   background-size: 100%;
      background-repeat: no-repeat;
      height: 400px;
      background-position: center;
      margin-bottom: 50px;
   }

   .movie-title{
       font-size: 28px;
       font-weight: bold;
       margin-left: 5%;
       max-width: 40%;
       margin-bottom: 20px;
   }
   .fav-button  {
        position: absolute;
        right: 100px;
        border: 1px solid black;
        background-color: #ccc;
        padding: 10px;
        border-radius: 15px;
        cursor: pointer;
        /* top: 0px; */
        margin-top: -100px;
   }

   .movie-description{
    float: left;
    height: 300px;
    width: 400px;
    max-width: 40%;
    margin-left: 5%;
   }
   .movie-details{
    float:right;
    margin-right: 2%;
    background-color:#EFE;
    .section-list{
        margin-right: 20px;
        min-height: 40px;
        padding: 10px;
        border-bottom: 1px solid gray;
        .section-item, .section-value {
            float:left;
            width: 200px;
        }

        .section-item{
            font-weight: bold;
            font-size: 20px;
        }
    }
   }


   .related-movies{
       clear:both;
       margin-left: 5%;
   }
}