@import "app";
@import "index";

.movies-list {
  width: 90%;
  .movie-type-header {
    font-size: 40px;
    font-weight: 700;
  }
}
.movies-card {
  //width: 30%;
  height: 450px;
  border: 1px solid #bbb;
  margin: 30px;
  .movie-cover-image {
    height: 60%;
    background-color: #ddd;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .movie-info-area {
    padding: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 30%;
    .movie-title {
      display: flex;
      justify-content: space-between;
      .title {
        font-size: 30px;
        font-weight: 700;
      }
      .favorite-con {
        color: red;
      }
    }
    .rating {
      display: flex;
      justify-content: space-between;
      .star-icon {
        color: yellow;
      }
      .show-more-link {
        color: #61dafb;
        text-decoration: underline;
      }
    }
  }
}

.movie-details-view {
  border: 1px solid black;
  width: 100%;
  height: 300px;

  .movie-image{
    //   background-size: 100%;
      background-repeat: no-repeat;
      height: 300px;
   }

   .movie-title{
       font-size: 16px;
       font-weight: bold;
   }

   .movie-description{
    float: left;
    height: 300px;
    width: 400px;
   }
   .movie-details{
    float:right;

    .section-list{
        width: 300px;
        margin-right: 20px;
        min-height: 40px;
        padding: 10px;
        border-bottom: 1px solid gray;
        .section-item{
            float:left;
        }
    }
   }
}